<div>
  <form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
    <label for="brincoAnimal">Brinco do Animal:</label>
    <input type="text" id="brincoAnimal" formControlName="brincoAnimal">

    <label for="brincoPai">Brinco do Pai:</label>
    <input type="text" id="brincoPai" formControlName="brincoPai">

    <label for="brincoMae">Brinco da Mãe:</label>
    <input type="text" id="brincoMae" formControlName="brincoMae">

    <label for="dataNascimento">Data de Nascimento:</label>
    <input type="text" id="dataNascimento" formControlName="dataNascimento">

    <label for="dataSaida">Data de Saída:</label>
    <input type="text" id="dataSaida" formControlName="dataSaida">

    <label for="status">Status:</label>
    <select id="status" formControlName="status">
      <option value="Ativo">Ativo</option>
      <option value="Vendido">Vendido</option>
      <option value="Morto">Morto</option>
    </select>

    <label for="sexo">Sexo:</label>
    <select id="sexo" formControlName="sexo">
      <option value="M">Macho</option>
      <option value="F">Fêmea</option>
    </select>

    <button type="submit" [disabled]="cadastroForm.invalid">Enviar</button>
  </form>
</div>