<main>

    <form [formGroup]="SuinoPesoForm" (ngSubmit)="onSubmit(SuinoPesoForm)">

        <h2> Cadastro de peso</h2>
        <p>Preencha todos os campos </p>

        <div class="row">

            <div class="input-group">
                <label for="DataPeso">Data  da medição</label>
                <input type="date" formControlName="DataPeso" name="DataPeso">
                <div *ngIf="SuinoPesoForm.get('DataPeso')?.invalid &&  SuinoPesoForm.get('DataPeso')?.touched">
                    <span class="error_message"> Compo Obrigatório</span>
                </div>
            </div>
            <div class="input-group">
                <label for="peso">Peso (kg)</label>
                <input type="number" formControlName="peso" name="peso">
                <div *ngIf="SuinoPesoForm.get('peso')?.invalid &&  SuinoPesoForm.get('peso')?.touched">
                    <span class="error_message"> Compo Obrigatório</span>
                </div>
            </div>
        </div>
    <button type="submit">Cadastrar</button>

    </form>

</main>